<a href="https://colab.research.google.com/github/TanmayTopkhanewale/WinterAnalytics/blob/main/WinterAnalytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SocBiz winter analytics challenge

In [ ]:
#importing all the important libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as skl

In [ ]:
#converting all the csv data into a dataframe
cust_data=pd.read_csv(r"C:\Users\tanma\Downloads\train (3).csv")

In [ ]:
cust_data.head()

,State_Code,Account_Length_Months,Area_Code,Intl_Plan,VM_Plan,VM_Messages,Avg_Day_Minutes,Avg_Day_Calls,Avg_Day_Charge,Avg_Eve_Minutes,Avg_Eve_Calls,Avg_Eve_Charge,Avg_Night_Minutes,Avg_Night_Calls,Avg_Night_Charge,Avg_Intl_Minutes,Avg_Intl_Calls,Avg_Intl_Charge,Customer_Service_Calls,Churn
0,MI,36,510,0,0,0,193.08,88,35.56,228.34,109,26.68,200.51,126,10.03,12.54,6,3.27,1,0
1,TN,16,510,0,0,0,165.62,69,30.50,246.13,95,28.76,150.08,99,7.51,12.30,9,3.21,1,0
2,DC,99,415,0,0,0,216.22,70,39.83,115.62,110,13.51,236.66,87,11.84,13.11,2,3.42,3,0
3,WY,159,510,0,0,0,182.16,85,33.56,218.48,126,25.54,201.62,133,10.08,9.32,2,2.43,1,0
4,NJ,77,510,0,0,0,134.16,98,24.72,230.27,139,26.92,244.35,140,12.22,15.76,3,4.11,0,0

In [ ]:
cust_data.tail()

,State_Code,Account_Length_Months,Area_Code,Intl_Plan,VM_Plan,VM_Messages,Avg_Day_Minutes,Avg_Day_Calls,Avg_Day_Charge,Avg_Eve_Minutes,Avg_Eve_Calls,Avg_Eve_Charge,Avg_Night_Minutes,Avg_Night_Calls,Avg_Night_Charge,Avg_Intl_Minutes,Avg_Intl_Calls,Avg_Intl_Charge,Customer_Service_Calls,Churn
3462,VA,117,415,0,1,38,280.32,100,51.63,263.17,75,30.77,272.71,132,13.64,10.58,1,2.76,3,0
3463,MI,110,415,1,0,0,317.08,84,58.40,201.98,95,23.61,270.28,96,13.52,16.68,4,4.36,0,1
3464,IN,136,415,0,1,21,193.95,93,35.73,194.05,103,22.68,324.76,127,16.24,10.92,4,2.86,2,0
3465,KY,93,415,0,1,37,249.08,101,45.88,166.62,94,19.48,181.27,95,9.07,11.96,10,3.12,3,0
3466,WA,158,510,0,0,0,190.16,111,35.02,201.77,93,23.59,190.68,104,9.53,12.65,7,3.30,1,0

In [ ]:
cust_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3467 entries, 0 to 3466
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State_Code              3467 non-null   object
 1   Account_Length_Months   3467 non-null   int64
 2   Area_Code               3467 non-null   int64
 3   Intl_Plan               3467 non-null   int64
 4   VM_Plan                 3467 non-null   int64
 5   VM_Messages             3467 non-null   int64
 6   Avg_Day_Minutes         3467 non-null   float64
 7   Avg_Day_Calls           3467 non-null   int64
 8   Avg_Day_Charge          3467 non-null   float64
 9   Avg_Eve_Minutes         3467 non-null   float64
 10  Avg_Eve_Calls           3467 non-null   int64
 11  Avg_Eve_Charge          3467 non-null   float64
 12  Avg_Night_Minutes       3467 non-null   float64
 13  Avg_Night_Calls         3467 non-null   int64
 14  Avg_Night_Charge        3467 non-null   float64
 15  Avg_Intl_Minutes        3467 non-null   float64
 16  Avg_Intl_Calls          3467 non-null   int64
 17  Avg_Intl_Charge         3467 non-null   float64
 18  Customer_Service_Calls  3467 non-null   int64
 19  Churn                   3467 non-null   int64
dtypes: float64(8), int64(11), object(1)
memory usage: 541.8+ KB

In [ ]:
cust_data.describe()

,Account_Length_Months,Area_Code,Intl_Plan,VM_Plan,VM_Messages,Avg_Day_Minutes,Avg_Day_Calls,Avg_Day_Charge,Avg_Eve_Minutes,Avg_Eve_Calls,Avg_Eve_Charge,Avg_Night_Minutes,Avg_Night_Calls,Avg_Night_Charge,Avg_Intl_Minutes,Avg_Intl_Calls,Avg_Intl_Charge,Customer_Service_Calls,Churn
count,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000,3467.000000
mean,100.606288,436.620710,0.096048,0.262475,7.695991,195.642440,105.970003,36.037067,214.303825,105.993078,25.049262,203.181030,105.335449,10.162132,11.790730,4.827517,3.076752,1.571676,0.143640
std,39.841338,42.021174,0.294700,0.440043,13.509946,58.679758,21.163917,10.808548,53.649726,21.014681,6.270818,50.799019,21.255113,2.540708,3.186702,2.894911,0.831318,1.318664,0.350775
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,44.680000,13.000000,5.220000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,73.000000,408.000000,0.000000,0.000000,0.000000,154.810000,92.000000,28.510000,178.620000,92.000000,20.880000,169.570000,91.000000,8.480000,9.780000,3.000000,2.560000,1.000000,0.000000
50%,100.000000,415.000000,0.000000,0.000000,0.000000,195.780000,106.000000,36.070000,214.310000,106.000000,25.050000,203.750000,106.000000,10.190000,11.960000,4.000000,3.120000,1.000000,0.000000
75%,127.000000,415.000000,0.000000,1.000000,17.000000,234.540000,120.000000,43.200000,250.310000,121.000000,29.260000,237.570000,119.000000,11.880000,13.800000,7.000000,3.600000,2.000000,0.000000
max,243.000000,510.000000,1.000000,1.000000,52.000000,380.000000,175.000000,70.000000,376.750000,180.000000,44.040000,400.000000,185.000000,20.000000,23.000000,22.000000,6.000000,9.000000,1.000000

In [ ]:
cust_data.shape

(3467, 20)

In [ ]:
cust_data.dtypes

State_Code                 object
Account_Length_Months       int64
Area_Code                   int64
Intl_Plan                   int64
VM_Plan                     int64
VM_Messages                 int64
Avg_Day_Minutes           float64
Avg_Day_Calls               int64
Avg_Day_Charge            float64
Avg_Eve_Minutes           float64
Avg_Eve_Calls               int64
Avg_Eve_Charge            float64
Avg_Night_Minutes         float64
Avg_Night_Calls             int64
Avg_Night_Charge          float64
Avg_Intl_Minutes          float64
Avg_Intl_Calls              int64
Avg_Intl_Charge           float64
Customer_Service_Calls      int64
Churn                       int64
dtype: object